@media only screen and (max-width: 860px) {
  body {
  /* padding: 2em 30px; */
  margin: 0 30px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  :root {
    --column-2: 0;
  }
  dt {
    position: unset;
    text-align: unset;
    margin: 0.5em 0;
  }
  dd {
    margin-top: 0;
  }
  .legend {
    width: unset;
    float: unset;
    position: unset;
    text-align: unset;
  }
  .item {
    grid-template-columns: auto;
    grid-template-rows: 1.75em auto auto auto auto;
  }
  .item p img {
    display: none;
  }
  #details {
    text-align: left;
    margin-left: 0;
  }

  #photo {
    display: none;
  }

  header {
    padding-top: 0;
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  .left, .right {
    width: 100%;
  }

  .right {
    padding-left: 0;
  }

}
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
    margin: 0 1em;
  }
}
