:root {
  --bg: #f9f9f9;
  /* --fg: #222; */
  /* --fg: #333; */
  /* --fg: #1d3f4e; */
  --fg: #253f4a;
  /* --fg-light: #555; */
  /* --fg-light: #666; */
  /* --fg-light: #4e6c79; */
  /* --fg-light: #506771; */
  --fg-light: #4e656d;
  --sp: #20b1f4;
  --sp-light: #79d3ff;
  /* --sp2: #D8315B; */
  --t-family: "Roboto Slab", serif;
  --h-family: Roboto, sans-serif;
  --column-2: 10em;
  --max-width: 50em;
  --min-width: 300px;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: var(--bg);
}

body {
  color: var(--fg-light);
  font-family: var(--t-family);
  font-size: 16px;
  line-height: 1.5;
  padding: 2em 0;
  margin: auto;
  max-width: var(--max-width);
  min-width: var(--min-width);
  background: var(--bg);
}

p {
  margin: 0.5em 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

a {
  color: var(--fg-light)
}

a:visited {
  color: var(--fg-light);
}

a:hover {
  color: var(--sp);
}

a:active {
  /* color: #faa700; */
  color: var(--sp);
}

a:focus {
  outline: thin dotted;
}

*::-moz-selection {
  background: var(--sp-light);
  color: var(--fg) !important;
}

*::selection {
  background: var(--sp-light);
  color: var(--fg) !important;
}

a::-moz-selection {
  background: var(--sp-light);
  color: var(--fg) !important;
}

a::selection {
  background: var(--sp-light);
  color: var(--fg) !important;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--fg);
  line-height: 100%;
  font-weight: 300;
  font-family: var(--h-family);
  padding: 0;
  margin: 0.5em 0;
}

h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 3.5em;
  font-weight: 100;
  line-height: 125%;
}

h2 {
  letter-spacing: 2px;
  font-size: 1.75em;
  margin-top: .5em;
  padding-top: .5em;
  border-top: 2px solid var(--sp);
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

blockquote {
  /* color: var(--sp2); */
  margin: 0.5em 0;
  /* padding-left: 3em; */
  /* border-left: 0.5em #EEE solid; */
}
blockquote p {
  margin: 0;
}

b, strong {
  font-weight: bold;
  letter-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

li {
  padding: 0;
  margin: 0;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul, ol ol {
  margin: .3em 0;
}

dl {
  margin: 0 !important;
  padding: 0 !important;
}

dt {
  font-weight: 300;
  font-size: 1em;
  text-align: right;
  width: calc(var(--column-2) - 0.5em);
  font-family: var(--h-family);
  margin: 0px;
}

dd {
  margin: -1.5em 0 1.5em var(--column-2);
}

dd p {
  padding: 0;
  margin: 0;
}

dd p:first-child strong:first-of-type {
  font-size: 1.25em;
  font-weight: 400;
  color: var(--fg);
  line-height: 100%;
  font-family: var(--h-family);
}

dd p:first-child em:first-of-type {
  font-size: 1.25em;
  font-weight: 300;
  color: var(--fg);
  line-height: 100%;
  font-family: var(--h-family);
  font-style: normal;
}

dd:last-child {
  margin-bottom: 1em;
}


#details {
  text-align: right;
  margin-left: auto;
}

#details ul {
  list-style: none;
}

#photo {
  max-height: 9em;
  border-radius: 50%;
  margin-right: 2em;
}

#name h1 {
  font-size: 3.5em;
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
}

#name h1 strong {
  color: var(--sp);
  letter-spacing: 0px;
}
