@media only screen and (max-width: 950px) {
  body {
  padding: 2em 0;
  margin: 0 30px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding: 1em 0;
    font-size: 14px;
  }
  :root {
    --column-2: 0;
  }
  dt {
    position: unset;
    text-align: unset;
    margin: 0.5em 0;
  }
  dd {
    margin-top: 0;
  }

  #details {
    text-align: left;
    margin-left: 0;
  }

  #photo {
    display: none;
  }

  header {
    padding-top: 0;
    flex-direction: column;
    margin-bottom: 0;
  }

  footer {
    text-align: center;
    margin-top: 3em;
  }

  .logo {
    display: none;
  }

  .left, .right {
    width: 100%;
  }

  .right {
    padding-left: 0;
  }

}
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
    margin: 0 1em;
  }
}
