:root {
  --fg: #253f4a;
  --fg-light: #4e656d;
  --sp-light: #79d3ff;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #f9f9f9;
}

body {
  color: #4e656d;
  color: var(--fg-light);
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  padding-top: 3em;
  padding-bottom: 2em;
  margin: auto;
  max-width: 55em;
  min-width: 300px;
}

p {
  margin: 0.5em 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3em;
}

footer {
  margin-top: 5em;
  text-align: right;
}

a {
  color: #4e656d;
  color: var(--fg-light)
}

a:visited {
  color: #4e656d;
  color: var(--fg-light);
}

a:hover {
  color: #20b1f4;
  color: var(--sp);
}

a:active {
  /* color: #faa700; */
  color: #20b1f4;
  color: var(--sp);
}

a:focus {
  outline: thin dotted;
}

*::-moz-selection {
  background: #79d3ff;
  background: var(--sp-light);
  color: #253f4a;
  color: var(--fg) !important;
}

*::selection {
  background: #79d3ff;
  background: var(--sp-light);
  color: #253f4a;
  color: var(--fg) !important;
}

a::-moz-selection {
  background: #79d3ff;
  background: var(--sp-light);
  color: #253f4a;
  color: var(--fg) !important;
}

a::selection {
  background: #79d3ff;
  background: var(--sp-light);
  color: #253f4a;
  color: var(--fg) !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #253f4a;
  color: var(--fg);
  line-height: 100%;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0.5em 0;
}

h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 3.5em;
  font-weight: 100;
  line-height: 125%;
}

h2 {
  letter-spacing: 2px;
  font-size: 1.75em;
  padding-top: 0.5em;
  margin-top: 0.5em;
  border-top: 2px solid #20b1f4;
  border-top: 2px solid var(--sp);
}

h3 {
  font-size: 1.5em;
  margin-top: 1em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

blockquote {
  margin: 0.5em 0;
}

blockquote p {
  margin: 0;
}

b, strong {
  font-weight: bold;
  letter-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

li {
  padding: 0;
  margin: 0;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul, ol ol {
  margin: .25em 0;
}

dl {
  margin: 0 !important;
  padding: 0 !important;
}

dt {
  font-weight: 300;
  font-size: 1em;
  text-align: right;
  width: 9.5em;
  font-family: Roboto, sans-serif;
  margin: 0px;
}

dd {
  margin: -1.5em 0 1.5em 10em;
}

dd p {
  padding: 0;
  margin: 0;
}

dd p:first-child strong:first-of-type {
  font-size: 1.25em;
  font-weight: 400;
  color: #253f4a;
  color: var(--fg);
  line-height: 100%;
  font-family: Roboto, sans-serif;
}

dd p:first-child em:first-of-type {
  font-size: 1.25em;
  font-weight: 300;
  color: #253f4a;
  color: var(--fg);
  line-height: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

dd:last-child {
  margin-bottom: 1em;
}


#details {
  text-align: right;
  margin-left: auto;
}

#details ul {
  list-style: none;
}

#photo {
  max-height: 9em;
  border-radius: 50%;
  margin-right: 2em;
}

#name h1 {
  font-size: 3.5em;
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
}

#name h1 strong {
  color: #20b1f4;
  color: var(--sp);
  letter-spacing: 0px;
}
