@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xgje6t');
  src:  url('fonts/icomoon.eot?xgje6t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xgje6t') format('truetype'),
    url('fonts/icomoon.woff?xgje6t') format('woff'),
    url('fonts/icomoon.svg?xgje6t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
