h2:before, span:before, li:before, span:after {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #20b1f4;
  color: var(--sp);
  margin-right: 0.25em;
}

h2:before {
  font-size: 0.85em;
}

.icon-award:before {
  content: "\e909";
}
#education:before, .icon-book-open:before {
  content: "\e90b";
}
#experience:before, .icon-briefcase:before {
  content: "\e900";
}
.icon-code:before {
  content: "\e90c";
}
#publications:before, .icon-file-text:before {
  content: "\e90f";
}
#github:before, .icon-github:before {
  content: "\e901";
}
#gitlab:before, .icon-gitlab:before {
  content: "\e902";
}
#interests:before, .icon-heart:before {
  content: "\e903";
}
#homepage:before, .icon-home:before {
  content: "\e904";
}
#linkedin:before, .icon-linkedin:before {
  content: "\e912";
}
#mail:before, .icon-mail:before {
  content: "\e905";
}
#address:before, .icon-map-pin:before {
  content: "\e907";
}
#phone:before, .icon-phone:before {
  content: "\e915";
}
#skills:before, .icon-star:before {
  content: "\e917";
}
#side-projects:before, .icon-terminal:before {
  content: "\e908";
}
#references:before, .icon-users:before {
  content: "\e906";
}
